.PastRoomsContainer {
    padding-left: 5%;
    padding-top: 10px;
    display: flex;
    width: 100%;
}

.PastRoomsContainer img#Past {
    border-radius: 9px;
}

.PastRoomInfo {
    padding-left: 5px;
    position: relative;
    background-color: yellow;
    width: 50%;
}


.PastRoomInfo p#PRoomName {
    font-size: 14px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 5px;
}

.PastRoomInfo p#PStayDates {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    display: inline;
}

.PastRoomInfo p#PTravelersNum {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}
