.PastReservationsContainer {
    margin-top: 5%;
    display: flex;
    width: 100%;
    border-top: 1px solid var(--purple-2);
    border-bottom: 1px solid var(--purple-2);
    box-shadow: 0px 0px 5px black;
    padding: 1rem;
    position: relative;
}

.PastImg img#Past {
    border-radius: 9px;
    vertical-align: middle;
    width: 100%;
    max-width: 430px;
}

.PastRoomInfo {
    padding-left: 1rem;
    position: relative;
    text-align: left;
    width: 100%;
}

.PastRoomInfo h1 {
    font-size: 1.35rem;
}

.past-address {
    margin-bottom: 1rem;
    color: grey;
}

.PastRoomInfo p {
    font-size: 1rem;
}

.past-checkout {
    margin-bottom: 1rem;
}