.PastReservationsContainer {
    margin-top: 5%;
    display: flex;
    width: 100%;
    background-color: #edeaf4;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.PastImg img#Past {
    border-radius: 9px;
    vertical-align: middle;
    margin-right: 5px;
}

.PastRoomInfo {
    padding-left: 5px;
    position: relative;
    text-align: left;
    width: 100%;
    background-color: #edeaf4;
}

#PRRoomPrice {
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
}



.PastRoomInfo p#PRoomName {
    font-size: 14px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 5px;
}

.PastRoomInfo p#PStayDates {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}

.PastRoomInfo p#PTravelersNum {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}
