/* NOTE: Most of the css is reused in the login.css 
* Better practice to make input fields/buttons into components in the future
*/

.signup-container {
    background: radial-gradient(91.46% 284.45% at 100% 122.31%, #5F4696 0%, #331F60 99.48%);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-top: 5rem;
    height: 100vh;
    position: relative;
}

.signup-container h1 {
    font-weight: 800;
    font-size: 9rem;
    color: white;
    max-width: 800px;
    padding-top: 2rem;
}

.signup-container span {
    font-size: 7rem;
}

.signup-email {
    margin-bottom: 1rem;
}

.signup-rpass {
    margin-top: 1rem;
}

.signup-button {
    margin: 24px 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.signup-button:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0 5px 0 var(--dark-grey));
}

.home-btn {
    position: absolute;
    color: white;
    left: 1rem;
    top: 1rem;
    font-size: 3rem;
}

@media screen and (max-width: 1350px) {
    .signup-container h1 {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .signup-container {
        padding: 0;
    }

    .box {
        margin: 0 1rem;
        max-height: none;
        height: 100vh;
    }
}

@media screen and (max-width: 430px) { 
    .info-memory label {
        margin-left: 0.25rem;
    }

    .info-memory label,
    .info-memory p {
        font-size: 0.75rem;
    }

    .signup-login {
        font-size: 0.8rem;
    }
}