:root {
  --purple: #4C2C8E;
  --purple-2: #683BC9; /* When using gradient for a background, use purple and purple-2 */
  --dark-grey: #2C2C2C;
  --light-grey: #F6F6F6; 
  --grey: #C2C6CC;
  --white: #FFFFFF;
  --yellow: #F6C851; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}