:root {
  --purple: #4C2C8E;
  --purple-2: #683BC9; /* When using gradient for a background, use purple and purple-2 */
  --dark-grey: #2C2C2C;
  --light-grey: #F6F6F6; 
  --grey: #C2C6CC;
  --white: #FFFFFF;
  --yellow: #F6C851; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

