.YellowSearchButton button {
    background-color: #F6C851;
    border: none;
    color: black;
    width: 320px;
    height: 88px;
    text-align: center;
    border: 1.5px solid #C2C6CC;
    border-radius: 15px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
  }

  .YellowSearchButton {
    padding-top: 10px;
    padding-bottom: 15px;
  }