.cancel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.cancel-box {
  border-radius: 10px;
  box-shadow: 0px 0px 5px #1e1239;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cancel-box h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cancel-inner-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* This is a placeholder for an image */
.cancel-image {
  width: 155px;
  height: 137px;
  background-color: grey;
  border-radius: 8px;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container1 h2,
.container2 h2 {
  font-size: 1.4rem;
}

.container1 h3,
.container2 h3 {
  font-size: 1.125rem;
  font-weight: normal;
}

.container1 span {
  color: #9A9A9A;
}

.arrow {
  margin: 0 1rem; 
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.container3 {
  margin-top: 2rem;
  margin-left: auto;
}

.back-button,
.cancel-button {
  border-radius: 30px;
  border: none;
  padding: 14px 28px;
  color: white;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.back-button {
  background-color: var(--grey);
}

.cancel-button {
  background-color: var(--purple);
  margin-left: 2rem;
}

.back-button:hover {
  background-color: #989ba0;
}

.cancel-button:hover {
  background-color: var(--purple-2);
}