.box {
    position: relative;
    width: 300px;
    height: 40px;
    border-width: 2px;
    border-style:solid;
    border-color: var(--grey);
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    font-weight: 600;
}

.box-highlighted {
    border-color: var(--purple);
    border-width: 4px;
    filter: drop-shadow(0px 0px 3px var(--purple));
}


text {
    color: var(--grey);
    display: inline-block;
    user-select: none;
}

.sort-by {
    font-size: 0.8rem;
    color: var(--dark-grey);
    display: block;
    user-select: none;
}


.icon {
    color: var(--grey);
    display: inline-block;
    position: relative;
}

.items {
    padding-left: 0px;
    position: relative;
    z-index: 1;
    bottom: 15px;
    width: 300px;
}
.sort-item {
    color: var(--grey);
    list-style-type: none;
    background-color: white;
    user-select: none;
    font-size: 18px;
    padding: 5px;
    font-weight: lighter;
}

.sort-item:hover {
    filter:brightness(0.8)
}

.hidden {
    display:none;
}

@media (width <= 486px) {
    .box {
        width: 100%;
    }
}