.searchBlock {
    width: 420px;
    height: 458px;
    border: 3.5px solid #4c2c8e;
    border-radius: 52px;
    position: relative;
    background-color: white;
    box-shadow: 0px 10px 5px #1e1239;
  }

.SBcontainer {
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  position: absolute;
  top: 35%;
  padding-bottom: 50px;

}

@media screen and (max-width: 1740px) {
  .SBcontainer {
    top: 30%;
  }
}

@media screen and (max-width: 950px) {
  .SBcontainer {
    top: 20%;
  }
}

@media screen and (max-width: 550px) {
  .SBcontainer {
      top: 15%;
  }
}