/* 1st Edit: You forgot to capitalize the a: .amenities -> .Amenities
* - Added padding so its not touching the screen
* - Adjusted the overall SIZE of the amenities (can be changed)
* - Made text-align left here so it affects everything in this component
*/
.Amenities {
  padding: 1rem;
  max-width: 300px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* 2nd Edit: You forgot to remove the numbers from the list
* - list-style: left --> none
*/
.amenities-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 80px;
  
}

.amenities-list li {
  margin-bottom: 0.5rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: left;
 
}
.left-section {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container {
  max-width: 220px;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 100;

  justify-content: left;
  border-radius: 10px;
  padding: 0 12px; 
  border: 1px solid var(--grey);
  margin-top: 20px;
  margin-bottom: 60px;
}

.input-line {
  width: 1px;
  height: 35px;
  background-color: #b9b2b2;
}

.input-field {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-field input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  text-align: left;
}

@media screen and (max-width: 60px) {
  .amenities-list {
    width: 90%;
  }
}
