.Amenities {
  padding: 1rem;
  max-width: 300px;
  text-align: left;
}

.amenities-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 80px;
  
}

.amenities-list li {
  margin-bottom: 0.5rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: left;
 
}

.left-section {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container {
  max-width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 1rem;

  justify-content: left;
  border-radius: 10px;
  padding: 0 12px; 
  border: 1px solid var(--grey);
}

.input-line {
  width: 3px;
  height: 35px;
  background-color: #b9b2b2;
}

.input-field {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 0.5rem;
}

.input-field input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  text-align: left;
}

/* NOTE: Edit the spacing b/w Price and Amenities here */
.amenities-container {
  margin-top: 2rem;
}

/* NOTE: Edit the spacing b/w Amenities and Star Rating here */
.star-container {
  margin-top: 2rem;
}

@media screen and (max-width: 60px) {
  .amenities-list {
    width: 90%;
  }
}
