.UpcomingRoomsContainer {
    margin-top: 5%;
    display: flex;
    width: 100%;
    background-color: #edeaf4;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.UpcomingRoomsContainer img#Upcoming {
    border-radius: 8px;
    vertical-align: middle;
    margin-right: 5px;
}

.UpcomingRoomInfo {
    padding-left: 5px;
    position: relative;
    width: 50%;
    text-align: left;
    background-color: #edeaf4;
}


#URRoomName {
    font-size: 14px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 5px;
}

#URRoomPrice {
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
}

#URStayDates {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

#URTravelersNum {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}

.UREditContainer {
    display: flex;
    width: 50%;
    background-color: #edeaf4;
    padding-right: 15px;
}

.UREditButton,
.URCancelButton {
    margin: auto;
}

.UREditButton button,
.URCancelButton button {
    width: 140px;
    height: 34px;
    border-radius: 15px;
    background-color: #4C2C8E;
    color: white;
}

.UREditButton button:hover,
.URCancelButton button:hover {
    background-color: #351f63;
    cursor: pointer;
    color: white;
}

.URlist {
    list-style-type: none;
}


