.UpcomingRoomsContainer {
    display: flex;
}

.UpcomingRoomsContainer img#Upcoming {
    border-radius: 9px;
    vertical-align: middle;
    width: 100%;
}

.UpcomingRoomInfo {
    padding-left: 1rem;
    position: relative;
    text-align: left;
    width: 100%;
}

.UpcomingRoomInfo h1 {
    font-size: 1.35rem;
}

.upc-address {
    margin-bottom: 1rem;
    color: grey;
}

.UpcomingRoomInfo p {
    font-size: 1rem;
}

.upc-checkout {
    margin-bottom: 1rem;
}

.UREditButton,
.URCancelButton {
    margin: auto;
}

.UREditButton button,
.URCancelButton button {
    width: 150px;
    padding: 0.5rem 0;
    border-radius: 15px;
    background-color: #4C2C8E;
    color: white;
    border: none;
}

.UREditButton button:hover,
.URCancelButton button:hover {
    background-color: #8651f7;
    cursor: pointer;
    color: white;
}

.URlist {
    list-style-type: none;
    margin-top: 5%;
    width: 100%;
    border-top: 1px solid var(--purple-2);
    border-bottom: 1px solid var(--purple-2);
    box-shadow: 0px 0px 5px black;
    padding: 1rem;
}

.URlist:last-of-type {
    margin-bottom: 5%;
}


