.ReservationsContainer {
    width: 100%;
    height: 800px;
    padding-top: 150px;
}

.ReservationLinks {
    text-decoration: none;
    color: #484848;
}

.ReservContainer {
    padding-top: 50px;
    width: 75%;
    display: block;
}

.RLinks {
    width: 75%;
    display: flex;
}

.ReservContainer p {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    font-weight: 700;
}

.ReservationLinks:hover {
    color: #7056a5;
    text-decoration: underline;
    
}

.ReservationLinks:focus {
    color: #4C2C8E;
    text-decoration: underline;
}

.ReservationLinks:target {
    color: #4C2C8E;
    text-decoration: underline;
}