.EditReservationsPopupContainer {
    margin: auto;
    width: 1200px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 1.5px #1e1239;
    position: relative;
}

.EditReservationsPopupContainer h1 {
    color: #484848;
    padding-left: 7%;
    padding-top: 3%;
}

.ERSaveChangesButton button {
    background-color: #F6C851;
    color: black;
    width: 215px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 600;
}

.ERSaveChangesButton {
    padding-right: 5%;
    width: fit-content;
    float: right;
}

.ERCancelButton {
    padding-right: 5%;
    width:fit-content;
    display: inline-block;
    position: relative;
}

.ERCancelButton button {
    background-color: #B4B4B4;
    color: black;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 600;
}

.TravelersContainer {
    background-color: white;
    width: 160px;
    height: 88px;
    border-radius: 15px;
    border:1.5px solid #C2C6CC;
    text-align: center;
}

.BottomContainer {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    float: right;
    text-align: right;
    height: 30%;
    bottom: 0%;
    position: absolute;
    padding-top: 20px;
}

.EditRoomContainer {
    padding-left: 7%;
    padding-top: 10px;
    display: flex;
    height: 50%;
}

.RoomInfo {
    position: relative;
    padding-left: 30px;
}

.RoomInfo p#RoomName {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}

.RoomInfo p#StayDates {
    font-size: 19px;
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-flex;
}


.EditRoomContainer img {
    display: inline;
    border-radius: 9px;
  }