<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <style>
      /* Add some basic styling to the form */
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      label, input {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <form method="post">
        {% csrf_token %}
      <h1>Register</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="password2">re-password:</label>
      <input type="password2" id="password2" name="password2" required>
      <button type="submit">SignUp</button>
    </form>
  </body>
</html>
